# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

from typing_extensions import Literal

import httpx

from ...types import member_update_params
from ..._types import Body, Query, Headers, NoneType, NotGiven, not_given
from ..._utils import path_template, maybe_transform, async_maybe_transform
from ..._compat import cached_property
from ..._resource import SyncAPIResource, AsyncAPIResource
from ..._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from .invitations import (
    InvitationsResource,
    AsyncInvitationsResource,
    InvitationsResourceWithRawResponse,
    AsyncInvitationsResourceWithRawResponse,
    InvitationsResourceWithStreamingResponse,
    AsyncInvitationsResourceWithStreamingResponse,
)
from ..._base_client import make_request_options
from ...types.member import Member
from ...types.member_list_response import MemberListResponse

__all__ = ["MembersResource", "AsyncMembersResource"]


class MembersResource(SyncAPIResource):
    """Manage who has access to an account and at what role
    (PR-Members/2).

    Five roles: owner / admin / member / billing /
    viewer. Owner is the strict superset of all other roles' scopes;
    every account always has at least one owner.
    """

    @cached_property
    def invitations(self) -> InvitationsResource:
        """Manage who has access to an account and at what role
        (PR-Members/2).

        Five roles: owner / admin / member / billing /
        viewer. Owner is the strict superset of all other roles' scopes;
        every account always has at least one owner.
        """
        return InvitationsResource(self._client)

    @cached_property
    def with_raw_response(self) -> MembersResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/simplechecks/simplechecks-sdk-python#accessing-raw-response-data-eg-headers
        """
        return MembersResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> MembersResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/simplechecks/simplechecks-sdk-python#with_streaming_response
        """
        return MembersResourceWithStreamingResponse(self)

    def update(
        self,
        user_id: str,
        *,
        role: Literal["owner", "admin", "member", "billing", "viewer"],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> Member:
        """Sets the member's role.

        Refuses to demote the last owner; the webapp surfaces
        this as "promote another owner first." Cannot modify your own role — ask another
        owner to do it. Requires the `members:write` scope.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not user_id:
            raise ValueError(f"Expected a non-empty value for `user_id` but received {user_id!r}")
        return self._patch(
            path_template("/v1/members/{user_id}", user_id=user_id),
            body=maybe_transform({"role": role}, member_update_params.MemberUpdateParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=Member,
        )

    def list(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> MemberListResponse:
        """Returns every (user, role, joined_at) tuple for the caller's account.

        Ordered
        owner-first (oldest membership). Backs the Settings → Members tab in the webapp.
        Requires the `members:read` scope.
        """
        return self._get(
            "/v1/members",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=MemberListResponse,
        )

    def remove(
        self,
        user_id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> None:
        """Deletes the (account, user) membership.

        Refuses to remove the last owner. Cannot
        remove yourself — use the "leave account" flow instead. Note that this does NOT
        revoke the user's API keys; the webapp orchestrates a follow-up keys:write call
        if the caller wants a hard cut-off. Requires the `members:write` scope.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not user_id:
            raise ValueError(f"Expected a non-empty value for `user_id` but received {user_id!r}")
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return self._delete(
            path_template("/v1/members/{user_id}", user_id=user_id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=NoneType,
        )


class AsyncMembersResource(AsyncAPIResource):
    """Manage who has access to an account and at what role
    (PR-Members/2).

    Five roles: owner / admin / member / billing /
    viewer. Owner is the strict superset of all other roles' scopes;
    every account always has at least one owner.
    """

    @cached_property
    def invitations(self) -> AsyncInvitationsResource:
        """Manage who has access to an account and at what role
        (PR-Members/2).

        Five roles: owner / admin / member / billing /
        viewer. Owner is the strict superset of all other roles' scopes;
        every account always has at least one owner.
        """
        return AsyncInvitationsResource(self._client)

    @cached_property
    def with_raw_response(self) -> AsyncMembersResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/simplechecks/simplechecks-sdk-python#accessing-raw-response-data-eg-headers
        """
        return AsyncMembersResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncMembersResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/simplechecks/simplechecks-sdk-python#with_streaming_response
        """
        return AsyncMembersResourceWithStreamingResponse(self)

    async def update(
        self,
        user_id: str,
        *,
        role: Literal["owner", "admin", "member", "billing", "viewer"],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> Member:
        """Sets the member's role.

        Refuses to demote the last owner; the webapp surfaces
        this as "promote another owner first." Cannot modify your own role — ask another
        owner to do it. Requires the `members:write` scope.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not user_id:
            raise ValueError(f"Expected a non-empty value for `user_id` but received {user_id!r}")
        return await self._patch(
            path_template("/v1/members/{user_id}", user_id=user_id),
            body=await async_maybe_transform({"role": role}, member_update_params.MemberUpdateParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=Member,
        )

    async def list(
        self,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> MemberListResponse:
        """Returns every (user, role, joined_at) tuple for the caller's account.

        Ordered
        owner-first (oldest membership). Backs the Settings → Members tab in the webapp.
        Requires the `members:read` scope.
        """
        return await self._get(
            "/v1/members",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=MemberListResponse,
        )

    async def remove(
        self,
        user_id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> None:
        """Deletes the (account, user) membership.

        Refuses to remove the last owner. Cannot
        remove yourself — use the "leave account" flow instead. Note that this does NOT
        revoke the user's API keys; the webapp orchestrates a follow-up keys:write call
        if the caller wants a hard cut-off. Requires the `members:write` scope.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not user_id:
            raise ValueError(f"Expected a non-empty value for `user_id` but received {user_id!r}")
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return await self._delete(
            path_template("/v1/members/{user_id}", user_id=user_id),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=NoneType,
        )


class MembersResourceWithRawResponse:
    def __init__(self, members: MembersResource) -> None:
        self._members = members

        self.update = to_raw_response_wrapper(
            members.update,
        )
        self.list = to_raw_response_wrapper(
            members.list,
        )
        self.remove = to_raw_response_wrapper(
            members.remove,
        )

    @cached_property
    def invitations(self) -> InvitationsResourceWithRawResponse:
        """Manage who has access to an account and at what role
        (PR-Members/2).

        Five roles: owner / admin / member / billing /
        viewer. Owner is the strict superset of all other roles' scopes;
        every account always has at least one owner.
        """
        return InvitationsResourceWithRawResponse(self._members.invitations)


class AsyncMembersResourceWithRawResponse:
    def __init__(self, members: AsyncMembersResource) -> None:
        self._members = members

        self.update = async_to_raw_response_wrapper(
            members.update,
        )
        self.list = async_to_raw_response_wrapper(
            members.list,
        )
        self.remove = async_to_raw_response_wrapper(
            members.remove,
        )

    @cached_property
    def invitations(self) -> AsyncInvitationsResourceWithRawResponse:
        """Manage who has access to an account and at what role
        (PR-Members/2).

        Five roles: owner / admin / member / billing /
        viewer. Owner is the strict superset of all other roles' scopes;
        every account always has at least one owner.
        """
        return AsyncInvitationsResourceWithRawResponse(self._members.invitations)


class MembersResourceWithStreamingResponse:
    def __init__(self, members: MembersResource) -> None:
        self._members = members

        self.update = to_streamed_response_wrapper(
            members.update,
        )
        self.list = to_streamed_response_wrapper(
            members.list,
        )
        self.remove = to_streamed_response_wrapper(
            members.remove,
        )

    @cached_property
    def invitations(self) -> InvitationsResourceWithStreamingResponse:
        """Manage who has access to an account and at what role
        (PR-Members/2).

        Five roles: owner / admin / member / billing /
        viewer. Owner is the strict superset of all other roles' scopes;
        every account always has at least one owner.
        """
        return InvitationsResourceWithStreamingResponse(self._members.invitations)


class AsyncMembersResourceWithStreamingResponse:
    def __init__(self, members: AsyncMembersResource) -> None:
        self._members = members

        self.update = async_to_streamed_response_wrapper(
            members.update,
        )
        self.list = async_to_streamed_response_wrapper(
            members.list,
        )
        self.remove = async_to_streamed_response_wrapper(
            members.remove,
        )

    @cached_property
    def invitations(self) -> AsyncInvitationsResourceWithStreamingResponse:
        """Manage who has access to an account and at what role
        (PR-Members/2).

        Five roles: owner / admin / member / billing /
        viewer. Owner is the strict superset of all other roles' scopes;
        every account always has at least one owner.
        """
        return AsyncInvitationsResourceWithStreamingResponse(self._members.invitations)
